* {
    margin:0;
}


body {
    background-color:black;
    color:white;
    
}


.description-container {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height:40px;
}


#preloader {
    background: #ffff url("./Images/Spinner.gif") no-repeat center center ;
    height:100vh;
    width:100%;
    position:fixed;
    z-index:100;
    
    
    
}


