@media screen and (max-width:1200px) {
    .nav-container {
        display:none;
    }


    #hamburger-nav {
        display:flex;
    }

    section {
        height:fit-content;
        width:200px;
        
    }

    #profile {
        display:flex;
        justify-content: center;
        gap:1rem;
        height:80vh;
    }

    #profile,.section-pic-container {
        display:block;
        margin-top:2rem;
    }

    
    

    .text-section-p2 {
        font-size:30px;
    }

    .text-section-p1 {
        font-size:12px;
    }
   
    .learning-img img {
        width:40px;
    }

   
   
}


@media screen and (max-width: 1400px) {
    #profile {
     height:83vh;
     margin-bottom:6rem;
    }
 
  
 
    
 }
