* {
    margin:0;
}

body {
    color:white;
    background:black;
}

.container2 {
    position:absolute;
    top:65%;
    left:50%;
    transform: translate(-65%,-50%);
    
    
}


.info-container {
  display:flex;
  align-items: center;
  text-align: center;
  
    
}

.info-container a {
    text-decoration: none;
}

.info-container p {
    color:white;
    font-weight:bold;
    text-decoration: underline;
}

.info-container p:hover {
    color:grey;
    transition: 0.15s;
   
}

.info-container h3 {
    font-size:14px;
}


.info-container video {
    padding-top:10px;
    width:50%;
    height:auto;
}

.nav-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px 0 10px;
}

.nav-container ul {
    list-style: none;
    display:flex;
    gap:30px;
}

.nav-container li {
    text-decoration:underline;
    color:white;
    font-size:20px;
}

.nav-container li:hover {
    color:grey;
}

.container1 {
    position:fixed;
    left:0;
    right:0;
}


@media  screen and (max-width:600px) {
    .container2 {
        position:absolute;
        top:20%;
        left:30%;
        transform: translate(-20%, -30%);
        
        
    }

    .info-container img {
        width:70px;
        padding-left:10px;
    }

   .info-container h1 {
    font-size:20px;
   }

   .info-container p {
    font-size:10px;
   }

   .info-container h3 {
    font-size:10px;
   }

   .info-container video {
    padding-top:10px;
    width:60%;
    height:auto;
}

.nav-container li {
    font-size:15px;
}
   
}






#preloader {
    background: #ffff url("./Images/Spinner.gif") no-repeat center center ;
    height:100vh;
    width:100%;
    position:fixed;
    z-index:100;
    
    
    
}


