* {
    margin:0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    background:black;
}


.info-container {
  display:flex;
  align-items: center;
  text-align: center;
  
    
}

.info-container a {
    text-decoration: none;
}

.info-container p {
    color:white;
    text-decoration: underline;
    font-size:18px;
}

.info-container p:hover {
    color:grey;
    transition: 0.15s;
   
}

.info-container h3 {
    font-size:18px;
}


.info-container video {
    padding-top:10px;
    width:50%;
    height:auto;
}

.nav-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px 0 10px;
}

.nav-container ul {
    list-style: none;
    display:flex;
    gap:20px;
}

.nav-container li {
    text-decoration:underline;
    color:white;
    font-size:20px;
}

.nav-container li:hover {
    color:grey;
}



.info-container h1 {
    font-size:50px;
   }

.program-lang img {
    width:40px;
}


.program-lang  {
    display:flex;
    justify-content: center;
    gap:10px;
    margin-top:10px;
}

.profile-img {
    margin-bottom:80px;
    margin-left:20px;
    background:white;
    border-radius:50%;
    padding:10px;
}



@media  screen and (max-width:600px) {
    .container2 {
        position:absolute;
        top:30%;
        left:50%;
        transform: translate(-50%, -30%);
    }

    .info-container img {
        width:60px;
    }

   .info-container h1 {
    font-size:25px;
   }

   .info-container p {
    font-size:10px;
   }

   .info-container h3 {
    font-size:10px;
   }

   .info-container video {
    padding-top:10px;
    width:90%;
    height:auto;
}

.nav-container li {
    font-size:15px;
}

.program-lang img {
    width:25px;
}

   
}


@media screen and (orientation: landscape) {
    .container2 {
        position:absolute;
        top:55%;
        left:50%;
        transform: translate(-50%, -30%);
        
        
    }

    .info-container img {
        width:200px;
        padding-left:10px;
    }

   .info-container h1 {
    font-size:40px;
   }

   .info-container p {
    font-size:15px;
   }

   .info-container h3 {
    font-size:15px;
   }

   .info-container video {
    padding-top:10px;
    width:80%;
    height:auto;
}

.nav-container li {
    font-size:15px;
}

.program-lang img {
    width:50px;
}

}






#preloader {
    background: #ffff url("./Images/Spinner.gif") no-repeat center center ;
    height:100vh;
    width:100%;
    position:fixed;
    z-index:100;
    
    
    
}


