* {
   margin:0;
 
    
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background:#010101;
    color:white;


    
    
    
}

.contacts {
    color:white;
}

.name-status-logo a {
    color:white;
}

.name-status-logo a:hover {
    color:grey;
}

.contacts:hover{
    color:grey;
}


.nav-container img:hover {
    scale: calc(1.1);
    transition:0.40;
}

.hackermask-img {
    width:120px;
    margin-left:20px;
}



 

.info-container {
   display:flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
  
    
}


ul a {
    text-decoration: none;
    color:white;
}

ul a:hover {
    text-decoration: underline;
    color:grey;
    transition:0.15s;
}

.container {
  
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-30%);
    padding:10px;
    background:#010101;
    border-radius:4px;
    
}


.full-name {
    font-size:12px;
}

.work-status {
    font-size:30px;
}


  
@media screen and (max-width: 726px) {
    .work-status {
        font-size:20px;
    }
    

    .hackermask-img {
        width:90px;
    }
    

    .info-container p {
        font-size:12px;
        line-height:15px;
    }


    
   
}


#preloader {
    background: #ffff url("./Images/Spinner.gif") no-repeat center center ;
    
    height:100vh;
    width:100%;
    position:fixed;
    z-index:100;
    
    
    
}


video {
    width:200px;
    margin-top:40px;
    
    
}

.name-status-logo {
    display:flex;
    justify-content: center;
    align-items: center;
}


.logo-container {
    display:flex;
    align-items: center;
    gap:120px;
}

.github-img {
    width:40px;
}


